[submodule "visual-studio-code-bin"]
	path = visual-studio-code-bin
	url = https://aur.archlinux.org/visual-studio-code-bin.git
[submodule "syncthingtray-qt6"]
	path = syncthingtray-qt6
	url = https://aur.archlinux.org/syncthingtray-qt6.git
