[submodule "syncthingtray-qt6"]
	path = syncthingtray-qt6
	url = https://aur.archlinux.org/syncthingtray-qt6.git
[submodule "c++utilities"]
	path = c++utilities
	url = https://aur.archlinux.org/c++utilities.git
[submodule "qtforkawesome-qt6"]
	path = qtforkawesome-qt6
	url = https://aur.archlinux.org/qtforkawesome-qt6.git
[submodule "qtutilities-qt6"]
	path = qtutilities-qt6
	url = https://aur.archlinux.org/qtutilities-qt6.git
[submodule "steamtinkerlaunch"]
	path = steamtinkerlaunch
	url = https://aur.archlinux.org/steamtinkerlaunch-git.git
[submodule "gamescope-session-git"]
	path = gamescope-session-git
	url = https://aur.archlinux.org/gamescope-session-git.git
[submodule "gamescope-session-steam-git"]
	path = gamescope-session-steam-git
	url = https://aur.archlinux.org/gamescope-session-steam-git.git
[submodule "autojump"]
	path = autojump
	url = https://aur.archlinux.org/autojump.git
[submodule "bridge-utils"]
	path = bridge-utils
	url = https://aur.archlinux.org/bridge-utils.git
[submodule "eontimer-bin"]
	path = eontimer-bin
	url = https://aur.archlinux.org/eontimer-bin.git
[submodule "openboardview"]
	path = openboardview
	url = https://aur.archlinux.org/openboardview.git
[submodule "pokefinder"]
	path = pokefinder
	url = https://aur.archlinux.org/pokefinder.git
[submodule "waydroid-helper"]
	path = waydroid-helper
	url = https://aur.archlinux.org/waydroid-helper.git
