name: Build Level
on:
  workflow_call:
    inputs:
      packages:
        required: true
        type: string
        description: 'JSON list of packages to build'
      packages_with_local_deps:
        required: false
        type: string
        description: 'JSON list of packages that have local dependencies'
        default: '[]'
      packager:
        required: true
        type: string
      enc_gpg:
        required: true
        type: string
      publish:
        required: false
        type: boolean
        default: true

    secrets:
      GPG_FILE_PASSWORD:
        required: true
      GPG_KEY_PASSWORD:
        required: true

jobs:
  build-package:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(inputs.packages) }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          ref: master
      
      - name: Check if package has local dependencies
        id: check_deps
        run: |
          set -e
          HAS_LOCAL_DEPS=$(echo '${{ inputs.packages_with_local_deps }}' | jq -r --arg pkg "${{ matrix.package }}" 'if . | index($pkg) then "true" else "false" end')
          echo "has_local_deps=$HAS_LOCAL_DEPS" >> "$GITHUB_OUTPUT"

      - name: Get current packages
        if: steps.check_deps.outputs.has_local_deps == 'true'
        uses: robinraju/release-downloader@v1.12
        with:
          latest: true
          fileName: '*.pkg.*'
          tarBall: false
          zipBall: false
          token: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true

      - name: Install zstd
        if: steps.check_deps.outputs.has_local_deps == 'true'
        run: |
          if ! command -v zstd &>/dev/null; then
            sudo apt-get update -qq && sudo apt-get install -y -qq zstd
          fi

      - name: Resolve dependencies for ${{ matrix.package }}
        if: steps.check_deps.outputs.has_local_deps == 'true'
        run: |
          set -e
          python3 .github/scripts/resolve-deps.py ${{ matrix.package }}
      
      - name: Build ${{ matrix.package }}
        uses: ./.github/actions/archlinux
        env:
          PACKAGER: ${{ inputs.packager }}
          GPG_FILE_PASSWORD: ${{ secrets.GPG_FILE_PASSWORD }}
          GPGKEY: ${{ inputs.enc_gpg }}
          GPG_KEY_PASSWORD: ${{ secrets.GPG_KEY_PASSWORD }}
        with:
          dir: ${{ matrix.package }}
          run: makepkg -sr --sign -C -c --noconfirm --noprogressbar

      - name: Remove debug packages
        run: rm -f ${{ matrix.package }}/${{ matrix.package }}-debug-*.pkg.tar.zst*
          
      - name: Upload new package ${{ matrix.package }}
        if: inputs.publish
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: repository
          file: ${{ matrix.package }}/*.pkg.*
          file_glob: true
          overwrite: true
