name: Rebuild Archlinux Repository

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/rebuild.yml'
  workflow_run:
    workflows: ["Setup"]
    types:
      - completed
  release:
    types:
      - deleted
permissions:
  packages: write
  contents: write

concurrency:
  group: "release"

jobs:
  variables:
    runs-on: ubuntu-latest
    outputs:
      enc-gpg: ${{ steps.config.outputs.enc-gpg }}
      repo-name: ${{ steps.config.outputs.repo-name }}
      packager: ${{ steps.config.outputs.packager }}

      levels: ${{ steps.set-levels.outputs.levels }}
      level_map: ${{ steps.set-levels.outputs.level_map }}
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
        ref: master
    - id: config
      uses: ./.github/actions/load-config
    - id: set-levels
      run: python3 .github/scripts/calculate-levels.py

  remove-release:
    runs-on: ubuntu-latest
    needs:
      - variables
    steps:
      - uses: dev-drprasad/delete-tag-and-release@v1.1
        with:
          delete_release: true # default: false
          tag_name: repository
          github_token: ${{ secrets.GITHUB_TOKEN }}

  build-levels:
    needs: 
      - variables
      - remove-release
    # Strategy that iterates over levels 1...N
    # max-parallel: 1 Ensures sequential execution (Level 1, then Level 2, etc.)
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        level: ${{ fromJson(needs.variables.outputs.levels) }}
    uses: ./.github/workflows/build-level.yml
    with:
      # Pass the list of packages for the current level
      packages: ${{ toJson(fromJson(needs.variables.outputs.level_map)[format('{0}', matrix.level)]) }}
      packager: ${{ needs.variables.outputs.packager }}
      enc_gpg: ${{ needs.variables.outputs.enc-gpg }}
    secrets:
      GPG_FILE_PASSWORD: ${{ secrets.GPG_FILE_PASSWORD }}
      GPG_KEY_PASSWORD: ${{ secrets.GPG_KEY_PASSWORD }}


  build-repo:
    runs-on: "ubuntu-latest"
    if: always()
    needs: 
      - variables
      - build-levels
    steps:
    - uses: actions/checkout@v6
      with:
        ref: master
    - name: Get current packages
      uses: robinraju/release-downloader@v1.12
      with:
        latest: true
        fileName: '*.pkg.*'
        tarBall: false
        zipBall: false
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build Repo
      uses: ./.github/actions/archlinux
      env:
        PACKAGER: ${{ needs.variables.outputs.packager }}
        GPG_FILE_PASSWORD: ${{ secrets.GPG_FILE_PASSWORD }}
        GPGKEY: ${{ needs.variables.outputs.enc-gpg }}
        GPG_KEY_PASSWORD: ${{ secrets.GPG_KEY_PASSWORD }}
      with:
        run: repo-add -s -q --nocolor -n -R ${{ needs.variables.outputs.repo-name }}.db.tar.gz *.pkg.tar.zst
    - name: Upload new repo
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: repository
        file: ${{ needs.variables.outputs.repo-name }}.db*
        file_glob: true
        overwrite: true
